//PALETA DE COLORES
$verde: #4CA866;
$blanco: #ffffff;
$amarillo: #e8c93e;
$rojo: #E4572E;
$azul: #3C91E6;
$gris: #454545;
$gris-claro: #eeeded;
$gris-medio: #989797;
$verde-claro: #9DCFAB;

//TIPOGRAFIAS
$mono-font: 'PT Mono', sans-serif;
$roboto-font: 'Roboto Light', sans-serif;

//TAMAÑO FUENTES
$fs1: 70px;
$fs2: 40px;
$fs3: 30px;
$fs4: 18px;
$fs5: 16px;

//SPACING
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;




