@import "../abstracts/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 $sp5;
  margin: 0 $sp5;

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    color: $gris-medio;
  }

  &__logo {
    width: 40px;
    margin-right: 1rem;
  }
}